.CardError {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
}

.CardContent {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  font-size: auto;
  text-align: center;
  border-radius: 20px;
  border: 3px solid var(--background-200);
}
.CardContent div {
  width: 49%;
}

.Progress {
  position: absolute;
  height: 10px;
  width: 100%;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  animation: Animation 2s infinite ease;
}

@keyframes Animation {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}