.Header {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 6rem;
  background-color: var(--background-100);
  padding: 0.5em 1em;
  border-right: 3px solid var(--color-400);
}

.Header nav {
  flex-direction: column;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header div svg {
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 0.7rem;
}

.Nav {
  display: flex;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}

.Link {
  display: flex;
  align-items: center;
  height: 3.6rem;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0.8rem 0 0 0;
  border-radius: 15px;
}

.Link svg {
  padding-left: 0.4rem;
  height: 2.5rem;
  width: 2.5rem;
}

.Link svg:hover {
  color: var(--color-400);
}

.Link section {
  display: none;
  font-size: 1.3rem;
  padding-left: 0.8rem;
}

.Link:hover section {
  display: flex;
}

.Link:hover {
  width: 13rem;
  background-color: var(--color-100);
  color: var(--color-00);
}